.styled-text-area .selection {
    -fx-fill: rgba(147, 147, 147, 0.5);
    -fx-stroke-width: 0;
}

.styled-text-area .jd-find {
    -rtfx-background-color: rgba(255, 0, 255, 0.5);
}

.styled-text-area .jd-find-selected {
    -rtfx-background-color: #90ee90;
}

.styled-text-area .jd-warning, .styled-text-area .jd-mandatory_warning {
    -rtfx-underline-color: orange;
    -rtfx-underline-width: 1;
}

.styled-text-area .jd-error {
    -rtfx-underline-color: red;
    -rtfx-underline-width: 1;
/*     -rtfx-underline-dash-array: 2;
    -rtfx-underline-cap: butt; */
}

.styled-text-area .jd-note, .styled-text-area .jd-other {
    -rtfx-underline-color: blue;
    -rtfx-underline-width: 1;
}


