

grant codeBase "file:${user.dir}/modules/-" {
    permission java.security.AllPermission;
};

grant codeBase "file:${user.dir}/lib/-" {
    permission java.security.AllPermission;
};

grant codeBase "jrt:/jdk.jshell" {
    permission java.security.AllPermission;
};

grant codeBase "jrt:/jdk.jdi" {
    permission java.security.AllPermission;
};

grant codeBase "jrt:/jdk.compiler" {
    permission java.security.AllPermission;
};

grant codeBase "jrt:/jdk.zipfs" {
    permission java.security.AllPermission;
};