
.styled-text-area .keyword {
    -fx-fill: deepskyblue;
    -fx-font-weight: bolder;
}
.styled-text-area .semicolon {
    -fx-font-weight: bold;
}
.styled-text-area .paren-open, .styled-text-area .paren-close {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.styled-text-area .bracket-open, .styled-text-area .bracket-close {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.styled-text-area .brace-open, .styled-text-area .brace-close {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.styled-text-area .generic-type {
}
.styled-text-area .char {
    -fx-fill: gray;
}

.styled-text-area .string {
    -fx-fill: gray;
}

.styled-text-area .comment {
    -fx-fill: cadetblue;
}

.styled-text-area .block-delimiter-match {
    -fx-fill: red;
    -rtfx-border-stroke-color: #aaa;
    -rtfx-border-stroke-width: 1;
    -rtfx-background-color: rgba(255,255,0,0.4);
    -fx-font-weight: bold;
}
