/* Works only with classpath, does not work for resources in other Java module. */

/* @font-face { */
/*    font-family: name inside the file */
/*    src: url("/dev/jfxde/fonts/FontAwesome5Free-Solid-900.otf"); */
/* } */

/* @font-face { */
/*    font-family: name inside the file */
/*    src: url("/dev/jfxde/fonts/FontAwesome5Free-Regular-400.otf"); */
/* } */

/* @font-face { */
/*    font-family: name inside the file */
/*    src: url("/dev/jfxde/fonts/octicons.ttf"); */
/* } */

/* Platform classes ***********************************************************/

.root {

	-jd-base-color: black;
	-jd-base-color-alpha4: rgba(0%, 0%, 0%, 0.4);
	-jd-base-color-alpha5: rgba(0%, 0%, 0%, 0.5);
	-jd-base-color-alpha6: rgba(0%, 0%, 0%, 0.6);
	-jd-base-color-alpha7: rgba(0%, 0%, 0%, 0.7);
	-jd-background-color: -jd-base-color;

    -jd-light-background-color: ladder(-jd-base-color, derive(-jd-base-color-alpha4, 200%) 0%, derive(-jd-base-color-alpha4, 50%) 50%, derive(-jd-base-color-alpha4, -50%) 100%);
    -jd-dark-background-color: ladder(-jd-base-color, derive(-jd-base-color-alpha6, 200%) 0%, derive(-jd-base-color-alpha6, 50%) 50%, derive(-jd-base-color-alpha6, -50%) 100%);

    -jd-text-fill: ladder(-jd-base-color, derive(-jd-base-color, 200%) 0%, derive(-jd-base-color, 120%) 10%, derive(-jd-base-color, 120%) 20%, derive(-jd-base-color, 120%) 29%, derive(-jd-base-color, -70%) 30%, derive(-jd-base-color, -70%) 40%, derive(-jd-base-color, -80%) 60%, derive(-jd-base-color, -100%) 100%);

    -jd-border-color: -jd-text-fill;

    -jd-passive-background-color: ladder(-jd-base-color, derive(-jd-base-color-alpha5, 112%) 0%, derive(-jd-base-color-alpha5, -33%) 100%);
    -jd-active-background-color: ladder(-jd-base-color, derive(-jd-base-color-alpha7, 155%) 0%, derive(-jd-base-color-alpha7, -7%) 100%);

    -jd-button-color1: rgba(0.0,0.0,0.0,0.08);
    -jd-button-color2: linear-gradient(#5a61af, #51536d);
    -jd-button-color3: linear-gradient(#e4fbff 0.0%,#cee6fb 10.0%, #a5d3fb 50.0%, #88c6fb 51.0%, #d5faff 100.0%);
}

.tooltip {
	-fx-border-color: transparent;
	-fx-background-color: -jd-active-background-color;
	-fx-text-fill: black;
	-fx-font-size: 0.95em;
    -fx-padding: 2;
    -fx-background-radius: 2.0;
    -fx-border-radius: 2.0;
}

.tree-cell:collapsed > .tree-disclosure-node > .arrow,
.tree-table-row-cell:collapsed > .tree-disclosure-node > .arrow {
    -fx-rotate: 0.0;
}

.table-row-cell:selected .hyperlink {
    -fx-text-fill: -fx-text-background-color;
}

.button:disabled {
	-fx-opacity: 0.4;
}

/* Custom classes *************************************************************/

.jd-font-awesome-regular {
	-fx-font-family: "Font Awesome 5 Free Regular";
}

.jd-font-awesome-solid {
	-fx-font-family: "Font Awesome 5 Free Solid";
}

.jd-octicons {
	-fx-font-family: "octicons";
}

.jd-medium-icon {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-background-radius: 2.0;
	-fx-border-radius: 2.0;
}

.jd-small-icon {
	-fx-font-size: 9.0px;
	-fx-alignment: center;
	-fx-background-radius: 2.0;
	-fx-border-radius: 2.0;
}

/* .dialog-pane .label { */
/* 	-fx-font-weight: bold; */
/* } */

/* Desktop ********************************************************************/

.jd-desktop-environment {
	-fx-background-color: -jd-background-color;
}

/* Shortcut pane **************************************************************/

.jd-desktop-shortcut-pane {
   -fx-background-color: -jd-background-color;
}

.jd-desktop-shortcut-icon {
	-fx-background-color: -jd-text-fill;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-background-radius: 2.0;
	-fx-border-radius: 2.0;
	-fx-text-fill: -jd-background-color;
}

.jd-desktop-shortcut-name {
    -fx-border-color: transparent;
    -fx-background-color:transparent;
    -fx-text-fill: -jd-text-fill;
    -fx-font-smoothing-type: lcd;
    -fx-opacity: 1.0;
    -fx-background-insets: 0.0px;
    -fx-border-insets: 0.0px;
    -fx-border-width: 0.0px;
    -fx-padding: 0.0px;
}

.jd-desktop-shortcut-name:focused {
	-fx-background-color:white;
	-fx-text-fill: black;
	-fx-font-weight: normal;
}

.jd-desktop-shortcut-name .content {
	-fx-border-color: transparent;
    -fx-background-color:transparent;
    -fx-background-insets: 0.0px;
    -fx-border-insets: 0.0px;
    -fx-border-width: 0.0px;
    -fx-padding: 0.0px;
}

.jd-desktop-shortcut-name .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
	-fx-border-color: transparent;
    -fx-background-color:transparent;
    -fx-background-insets: 0.0px;
    -fx-border-insets: 0.0px;
    -fx-border-width: 0.0px;
    -fx-padding: 0.0px;
}

.jd-desktop-shortcut-name .scroll-pane .viewport {
    -fx-border-color: transparent;
    -fx-background-color:transparent;
    -fx-background-insets: 0.0px;
    -fx-border-insets: 0.0px;
    -fx-border-width: 0.0px;
    -fx-padding: 0.0px;
}

.jd-desktop-shortcut-name .scroll-pane .content .text {
    -fx-text-alignment: center;
    -fx-background-insets: 0.0px;
    -fx-border-insets: 0.0px;
    -fx-border-width: 0.0px;
    -fx-padding: 0.0px;
}

.jd-desktop-shortcut-view, .jd-desktop-shortcut-view:pressed:hover {
   -fx-border-color: transparent;
   -fx-background-color:transparent;
}

.jd-desktop-shortcut-view:hover {
	-fx-background-color: -jd-light-background-color;
	-fx-border-color: -jd-border-color;
	-fx-background-radius: 3.0;
	-fx-border-radius: 3.0;
}

.jd-desktop-shortcut-view:active, .jd-desktop-shortcut-view:active:hover {
	-fx-background-color: -jd-dark-background-color;
	-fx-border-color: -jd-border-color;
	-fx-background-radius: 3.0;
	-fx-border-radius: 3.0;
}

/* Window pane ****************************************************************/

.jd-desktop-window-pane {
	-fx-background-color: null;
}

/* Menu bar *******************************************************************/

.jd-menubar {
	-fx-background-color: transparent;
}

.jd-menubar-button {
    -fx-background-color: -jd-button-color1, -jd-button-color2, -jd-button-color3;
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    -fx-background-radius: 5.0,5.0,4.0;
    -fx-padding: 3.0 15.0 3.0 15.0;
    -fx-text-fill: #242d35;
    -fx-font-size: 14.0px;
    -fx-font-smoothing-type: gray;
    -fx-font-weight: normal;
}

.jd-menubar-button:hover {
    -fx-background-color: #eee;
}

/* Control bar ****************************************************************/

.jd-controlbar {
	-fx-border-color: -jd-passive-background-color;
	-fx-background-color: rgba(0.0, 0.0, 0.0, 0.5);
	-fx-background-radius: 5.0;
	-fx-border-radius: 5.0;
}

.jd-controlbar-desktops-button:active {
	-fx-border-width: 2.0;
	-fx-border-color: black;
    -fx-border-radius: 2.0;
}

/* Internal window ************************************************************/

.jd-frame:active .jd-frame-payload {
	-fx-background-color: -jd-active-background-color;
	-fx-border-color: -jd-active-background-color;
}

.jd-frame:full .jd-frame-payload {
	-fx-background-color: #fff;
	-fx-border-color: #fff;
	-fx-border-width: 0.0;
	-fx-background-radius: 0.0;
	-fx-border-radius: 0.0;
}

.jd-frame:active .jd-frame-title-bar {
	-fx-background-color: -jd-active-background-color;
}

.jd-frame-payload {
	-fx-background-color: -jd-passive-background-color;
	-fx-border-color: -jd-passive-background-color;
	-fx-border-width: 4.0;
	-fx-background-radius: 5.0;
	-fx-border-radius: 5.0;
}

.jd-frame-content {
	-fx-background-color: -fx-background;
}

.jd-frame-title-bar {
	-fx-background-color: -jd-passive-background-color;
	-fx-padding: 2.0 2.0 4.0 2.0;
}

.jd-frame-button {
    -fx-background-color:
        #707070,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0.0%, #ebebeb 49.0%, #dddddd 50.0%, #cfcfcf 100.0%);
    -fx-background-insets: 0.0,1.0,2.0;
    -fx-background-radius: 3.0,2.0,1.0;
    -fx-padding: 3.0 6.0 3.0 6.0;
    -fx-text-fill: black;
    -fx-font-size: 14.0px;
    -fx-opacity: 1.0;
}

.jd-frame-button .list-view {
    -fx-opacity: 1.0;
}

.jd-frame-button .arrow-button {
	-fx-padding: 0.0;
}

.jd-frame-button:disabled {
	-fx-opacity: 0.4;
}

.jd-frame-button:hover {
    -fx-background-color:#ddd;
}

/* Table **********************************************************************/

.jd-table-view .column-header .label {
    -fx-alignment:CENTER_LEFT
}

.jd-table-column-numerical {
  -fx-alignment: CENTER-RIGHT;
}
