/* Rich text FX */
.styled-text-area {
	-fx-border-width: 1;
    -fx-border-color: #eee;
}

.styled-text-area .selection {
    -fx-fill: rgba(30,144,255,0.3);
}

.styled-text-area .text {
    -fx-font-smoothing-type: gray;
}

