
.keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren-open, .paren-close {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket-open, .bracket-close {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace-open, .brace-close {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.generic-type {
}
.char {
    -fx-fill: gray;
}

.string {
    -fx-fill: gray;
}

.comment {
    -fx-fill: cadetblue;
}

